@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

$sizes: 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px, 32px, 36px, 40px, 48px;
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #8F95B2;
  border-radius: 5px;
}

@each $size in $sizes {
  .size-#{$size} {
    font-size: $size !important;
    line-height: calc($size + 8px);
  }
}

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: $weight !important;
  }
}

.text {
  &-left {
    text-align: left !important;
  }

  &-center {
    text-align: center !important;
  }

  &-right {
    text-align: right !important;
  }

  &-justify {
    text-align: justify !important;
  }

}

.list-item-btn {

  &:hover {
    .list-item-menu-icon {
      transform: scale(2);
      filter: invert(1) brightness(100) !important;
    }

    .list-item-text {
      color: #FFFFFF;
    }
  }
}